# What are data structures, and why are they important
Data is organized in a sequebtial manner,the way of organising and storing the data is known as data stucture.
#why it is important
with the help of data the data will access and manupulating efficiently becouse data have no used if you dont access and manupulate it properly becouse this is the way you stored the data.

#Explain the difference between mutable and immutable data types with examples
mutable
  in this data types the veriables can be change after the running of code or after the compilation of code or block.it is also called as item assingment.

  or another defination is,
  object/container whose state or value can be changed after they are created are called as mutable data types.


immutable
   in this data type the variable cannot be change after the running of code or after the compilation of code or block.

   or the second defination is,
  object/container whose state or value cannot be changed after they are created are called as mutable data types.

  below given the example of mutable and immutable data type

In [17]:
#mutable data type ...>>list and dictionary are mutable here is the example of list
empty=["apple","mango","banana","orange",]
empty.append("gava")
print(empty)
empty.remove("gava")
print(empty)
empty[1]="papaya"
print(empty)

['apple', 'mango', 'banana', 'orange', 'gava']
['apple', 'mango', 'banana', 'orange']
['apple', 'papaya', 'banana', 'orange']

In [18]:
#immutable data type....>>tuple and string here is the example of tuple
youtube=("drama","movies","cartoons","songs")
youtube.append("advertisement")
print(youtube)
youtube[1]="mobile"
print(youtube)

this will not run coz found the error that tuple is immutable data type

AttributeError: 'tuple' object has no attribute 'append'

#What are the main differences between lists and tuples in Python
first masured difference between list are
 tuple are tuple is immutable
  while lists are mutable

tuple write in paranthesis ()
list write in square brackets []

#Describe how dictionaries store data
Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered.
dictionary can be changeable and do not allow duplicates.

# Why might you use a set instead of a list in Python
becouse sets cannot be have same data,or dublicate elements in same set.

some important type data such as company id,adhar card,bank account number
which cannot be same....if they will same it will not get in output.

# What is a string in Python, and how is it different from a list
string is a variable or number or integer which is written in single quate or duble quate "" , ''
string itself is data type.

list is written in square brackets []
list have all data types in one list ex int,str,float,bool,etc

 # How do tuples ensure data integrity in Python
 Tuples are immutable to ensure that their contents remain constant throughout their lifecycle.
 you cannot change the element,veriable after you enter the one value.
 therefore it is safe and gives integrity in python

#What is a hash table, and how does it relate to dictionaries in Python
A hash table is a data structure that stores key-value pairs and uses a hash function to quickly find values based on their keys.

In Python, a dictionary (dict) is a built-in data type that works like a hash table, allowing fast access to values by their keys. It is efficient for lookups, insertions, and deletions.

# Can lists contain different data types in Python
yes list do contain different data types in python.
A list can be have integers, strings, floats, objects, or the other lists, all in the same list.

For example:-
my_list = [1, "hello", 3.14, [2, 4, 6]]

#Explain why strings are immutable in Python
for the efficincy of code or data,becouse string is widely used in python
Strings in Python are immutable to improve performance, ensure thread safety, and maintain consistent behavior. When you modify a string, a always new string is created instead of changing the original.

 # What advantages do dictionaries offer over lists for certain tasks
 dictionaries does not have dublicate vlaues or element
 but the list have same.
 key in dictionaries is unique
 data strored in key value which is always easy to accesable and where list have integers storage values

# Describe a scenario where using a tuple would be preferable over a list
Using a tuple is preferable over a list when you need an immutable sequence of items.

It Fixed Data When storing coordinates (x, y), you do not want these to change.
Dictionary Keys: Tuples can be used as dictionary keys because they are immutable, whereas lists cannot.
Function Returns: When a function returns multiple values that not be modified, tuples are a good choice.
Tuples are generally preferred when the data should remain constant.
use case=student id,email etc.

#How do sets handle duplicate values in Python
sets does not print the duplicate values at the time of compilation it gives only one element off that cast,or that type
it automatically eliminate that duplicate values.only unique element will stored in sets.

ex.{"akanksha","akanksha",1,1,3,3,9,9,9,}

it will only give
{"akanksha",1,3,9}

# How does the “in” keyword work differently for lists and dictionaries
For Lists: it checks if a specific value exists in the list. It performs a linear search, which has a time complexity of O(n)

 EX...
my_list = [1, 2, 3]
print(2 in my_list)
 # Output: True

For Dictionaries: in checks if a specific key exists in the dictionary. It uses hash table lookup, which has an average time complexity of O(1).

EXX...
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)
 # Output: True

# Can you modify the elements of a tuple? Explain why or why not
No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning once they are created, their contents cannot be changed.

This make tuple safe,for efficient memmory usage.
it will give you erroe when you wanted to modify the element

# What is a nested dictionary, and give an example of its use case
A nested dictionary is a dictionary that contains another dictionary as a value. This structure allows for more complex, hierarchical data storage.

this is very useful where we want to organised the data where each key hold other set of key value pair.

A nested dictionary can represent a collection of data, such as storing information about students and their courses.

students = {
    "maggie": {"Math": 80, "math": 85},
    "masala": {"Math": 55, "math": 80}
}
print(students["Bob"]["Math"])
 # Output: 55

# Describe the time complexity of accessing elements in a dictionary
The time complexity of accessing elements in a dictionary in Python is
O(1) on average. This is because dictionaries are implemented using hash tables, allowing for direct indexing via the hash function, which usually provides constant-time access.it srored the key values of veriable.

 # In what situations are lists preferred over dictionaries
 when we want to maintain the order of element,list preserve the oeder of insertion .
 and when we want the element of their place indexing in number integer follow in list but not in dict.
 when you do not need unique keys then the list is sutable for code it will give the dublicate element access but dict does not allow the duplicate element it has gave specific/unique element every time .

# Why are dictionaries considered unordered, and how does that affect data retrieval
Dictionaries are considered unordered because they store data based on key hashes, not in a sequence.
they maintain insertion order, but the primary focus is still on fast key-based retrieval, not order. You can't access items by index, only by key.

Fast Lookups: Retrieval by key is fast, with an average time complexity of
O(1), regardless of order.
No Indexed Access: You can't access items by a numerical index like you can with lists, as dictionaries are key-based.

# Explain the difference between a list and a dictionary in terms of data retrieval.
data retrival in list is ordered and access in integer .retrival is of index possition

my_list = [10, 20, 30]
print(my_list[1])
 # Output: 20

in dict data retrival by the key it access in key format
my_dict = {"a": 10, "b": 20}
print(my_dict["b"])
 # Output: 20

# code form here

In [1]:
 # Write a code to create a string with your name and print it
 name ="akanksha bhongade"
 name

'akanksha bhongade'

In [5]:
#Write a code to find the length of the string "Hello World"
new ="hello world"
new
len(new)

11

In [6]:
# Write a code to slice the first 3 characters from the string "Python Programming"
student="python programming"
student[0:3] #the 3rd number will be minus from the code

'pyt'

In [7]:
# Write a code to convert the string "hello" to uppercase
msg="hello"
msg.upper()

'HELLO'

In [11]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
fruit="i like apple"
print(fruit)
fruit.replace("apple","orange")

i like apple

'i like orange'

In [12]:
#  Write a code to create a list with numbers 1 to 5 and print it
list_num=[1,2,3,4,5]
list_num

[1, 2, 3, 4, 5]

In [14]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list_num=[1,2,3,4]
list_num.append(10)
list_num

[1, 2, 3, 4, 10]

In [15]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
you=[1,2,3,4,5]
you.remove(3)
you

[1, 2, 4, 5]

In [17]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
alpha=['a','b','c','d']
alpha[1]

'b'

In [18]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list_num=[10,20,30,40,50]
list_num.reverse()
list_num

[50, 40, 30, 20, 10]

In [20]:
# Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple_call=(10,20,30)
tuple_call

tuple

In [23]:
#Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruit=("apple","banana","cherry")
fruit[0]

'apple'

In [24]:
#  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
novel=(1,2,3,2,4,2)
novel.count(2)

3

In [25]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals=("dog","cat","rabbit")
animals.index("cat")

1

In [33]:
#  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits=("apple","orange","banana")
if "banana" in fruits:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple.

In [34]:
#  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set_my={1,2,3,4,5}
set_my

{1, 2, 3, 4, 5}

In [42]:
# Write a code to add the element 6 to the set {1, 2, 3, 4}.
set_num={1,2,3,4}
#set_num.add(6)
set_num|={6} #union type to add element in set
set_num

{1, 2, 3, 4, 6}

In [46]:
#  Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuppu=(10,20,30)
tuppu
#type(tuppu)

(10, 20, 30)

In [47]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruit=("apple","banana","cherry")
fruit[0]

'apple'

#after this remaining questions are repetative that is why i did not do that because i do it already in this assignment ...please consider sir/mam